<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPanel</servlet-name>
        <servlet-class>Controller.AdminPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>Controller.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectController</servlet-name>
        <servlet-class>Controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>Controller.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSubject</servlet-name>
        <servlet-class>Controller.QuestionSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradeController</servlet-name>
        <servlet-class>Controller.gradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeSubject</servlet-name>
        <servlet-class>Controller.GradeSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertToExcel</servlet-name>
        <servlet-class>Controller.ConvertToExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taoDe</servlet-name>
        <servlet-class>Controller.taoDe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/loginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPanel</servlet-name>
        <url-pattern>/adminPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/studentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectController</servlet-name>
        <url-pattern>/subjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/questionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionSubject</servlet-name>
        <url-pattern>/questionSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradeController</servlet-name>
        <url-pattern>/gradeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeSubject</servlet-name>
        <url-pattern>/gradeSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertToExcel</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taoDe</servlet-name>
        <url-pattern>/taoDe</url-pattern>
    </servlet-mapping>
</web-app>
